<ion-header>
    <ion-toolbar>
        <ion-title>
            Header
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button (click)="passData()" defaultHref="/"></ion-back-button>
        </ion-buttons>
        <ion-icon *ngIf="headerFg.valid" slot="end" color="success" name="checkmark-circle-outline"></ion-icon>
        <ion-icon *ngIf="!headerFg.valid" slot="end" color="danger" name="close-circle-outline"></ion-icon>

    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="headerFg">
        <ion-item>
            <ion-label position="floating">Bu Code Rcv</ion-label>
            <ion-input type="text" formControlName="buCodeRcv" readonly></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Bu Type Rcv</ion-label>
            <ion-input type="text" formControlName="buTypeRcv" readonly></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Bu Name Rcv</ion-label>
            <ion-input type="text" formControlName="buNameRcv" readonly></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Unload Date</ion-label>
            <ion-datetime displayFormat="D MMM YYYY H:mm" formControlName="unloadDate" [max]="now" [min]="minDate"></ion-datetime>
        </ion-item>
        <ion-item-sliding #csmNoSliding>
            <ion-item slot="start">
                <ion-label position="floating">CSM No</ion-label>
                <ion-input  type="number" formControlName="csmNo" required></ion-input>
                <ion-button slot="end" fill="clear" (click)="openScanner('csmNo')">
                    <ion-icon slot="icon-only" name="barcode"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-item-sliding>
        <ion-item>
            <ion-label position="floating">Seal No <span style="font-style: italic; font-size: 12px">- Optional</span></ion-label>
            <ion-input type="number" formControlName="sealNo"></ion-input>
        </ion-item>
        <ion-item *ngIf="headerFg.get('slTime').value">
            <ion-label position="floating">SL Time <span style="font-style: italic; font-size: 12px">- minutes</span></ion-label>
            <ion-input type="number" formControlName="slTime" readonly></ion-input>
        </ion-item>
        <ion-item-sliding #truckNoSliding>
            <ion-item-options side="start">
                <ion-item-option *ngIf="truckNoPhoto" color="danger"
                                 (click)="clearImage('truckNoPhoto', truckNoSliding);">Clear
                </ion-item-option>
            </ion-item-options>
            <ion-item text-wrap>
                <ion-thumbnail (click)="openPhoto('truckNoPhoto')" *ngIf="truckNoPhoto" slot="end">
                    <img *ngIf="truckNoPhoto" [src]="truckNoPhoto.webPath">
                </ion-thumbnail>
                <ion-button *ngIf="!truckNoPhoto" slot="end" fill="clear" (click)="openPhoto('truckNoPhoto')">
                    <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
                </ion-button>
                <ion-label>
                    Truck Number <span style="font-style: italic; font-size: 12px">- Optional</span>
                </ion-label>
            </ion-item>
        </ion-item-sliding>
        <ion-item-sliding #preUnloadSliding>
            <ion-item-options side="start">
                <!--ion-item-option *ngIf="truckNoPhoto" (click)="openPhoto('truckNoPhoto', truckNoSliding);this.close()">Replace</ion-item-option-->
                <ion-item-option *ngIf="preUnloadPhoto" color="danger"
                                 (click)="clearImage('preUnloadPhoto', preUnloadSliding);">Clear
                </ion-item-option>
            </ion-item-options>
            <ion-item text-wrap>
                <ion-thumbnail (click)="openPhoto('preUnloadPhoto')" *ngIf="preUnloadPhoto" slot="end">
                    <img *ngIf="preUnloadPhoto" [src]="preUnloadPhoto.webPath">
                </ion-thumbnail>
                <ion-button *ngIf="!preUnloadPhoto" slot="end" fill="clear" (click)="openPhoto('preUnloadPhoto')">
                    <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
                </ion-button>
                <ion-label>
                    Loading Unit - Pre Unload <span style="font-style: italic; font-size: 12px">- Optional</span>
                </ion-label>
            </ion-item>
        </ion-item-sliding>
    </form>
    <app-attachments *ngIf="attachReady" [attachments]="attachments" (attachmentsChanges)="handleAttachmentsChange($event)"></app-attachments>
</ion-content>
